.blogpostStyle {
  padding: 1em;
}
.blogpostStyle figcaption {
  font-style: italic;
  text-align: center;
}
.blogpostStyle h1 {
  margin: 0;
  padding: 0.5em 0;
}
.blogpostStyle img {
  display: block;
	margin: 0 auto;
	max-width: 60%;
  padding-top: 1em;
}
.blogpostStyle p {
	display: block;
	margin: auto;
  padding-bottom: 1em;
}
.blogpostStyle ul {
	margin-top: 0;
}
