.bigBuyButt {
    height: 2.1em;
    margin: 1em;
    text-align: center;
}
.bigBuyButt a {
    float: unset;
    padding: 0.5em 2em;
}
.shirtImage {
    max-width: 450px;
    margin: 1em auto 0;
}
.shopText {
    padding: 0 1em;
}