@import './variables.css';

a {
  color: var(--primary-dark);
  text-decoration: underline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
  width: auto;
}
img.poster {
  display: block;
  margin: auto;
  max-width: 100%;
  padding-bottom: 1em;
}
p {
  margin-block-end: unset;
}
.acknowledgements {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}
.bodyContent {
  padding: 0 1em;
}
.carousel-control-next {
  margin-bottom: 2.5em;
}
.carousel-control-prev {
  margin-bottom: 2.5em;
}
.carousel-indicators li {
  background-color: rgba(201, 76, 76, 0.0);
  background-image: url(../images/balls.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 2.5em;
}
.contactBox {
  margin: 1em;
}
.contactContainer {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1em 1fr;
  justify-items: center;
  width: 100%;
}
.contactOr {
  display: inline-block;
  text-align: center;
}
.hidden {
    display: none;
}
.linkButt {
  height: 2.5em;
}
.linkButt a {
  align-content: flex-end;
  background-color: var(--primary-dark);
  border-radius: 0.5em;
  color: var(--primary-light);
  float: right;
  margin-right: 1em;
  padding: 0.5em;
  text-decoration: none;
}
.playerCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

/*Adds margin on large screens*/
@media screen and (min-width: 996px) {
	body {
		max-width: 996px;
		margin: auto;
	}
}

/*Presenting the menu bar in a material designish kind of fashion */
@media screen and (min-width: 769px) {
	.actionBar {
		display: none;
	}
}

/*Reordering the components on the contacts page */
@media screen and (max-width: 768px) {
  h1 {
		display: none;
  }

  .contactContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1em 1fr;
    justify-items: center;
    width: 100%;
  }
}
