.footer {
	display: block;
	margin: auto;
  	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	width: 60%;
}
.footerLogos {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
}

.footerLogos img {
	margin: 1em;
}

.sponsorUs {
	display: block;
	margin: auto;
	padding-bottom: 1em;
	width: 60%;
}