img.logo {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  min-width: 150px;
  min-height: 150px;
}
.brandname {
	order: 1;
  padding-left: 1em;
  padding-right: 1em;
  /* min-height: 150px; */
  text-align: center;
}
.headerContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.logo {
  order: 0;
	display: block;
	margin: auto;
	width: 100%;
}

.tagline {
		margin-left: 0px;
	}

/*Reorders logo and title off phone*/
@media screen and (min-width: 576px) {
	.brandname {
		order: 0;
		width: 66.7%;
	}
	.logo {
		order: 1;
		width: 33.3%;
	}
}
