.headline {
  font-weight: bolder;
  font-size: 1.5em;
}
.newsDate {
  padding: 0.25em 0;
  text-align: right;
}
.newsImage {
  display: block;
  margin: auto;
  max-width: 100%;
}
.newsSnippet{
  padding: 0.5em 0;
}
.readMore {
  text-align: right;
}
.snippet {
  padding: 1em 1em 0;
}