p {
  margin-bottom: 0;
}
.awayTeamContainer {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}
.homeTeamContainer {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}
.linkButt {
  height: 2em;
}
.linkButt a{
  background-color: var(--primary-dark);
  border-radius: 0.5em;
  color: var(--primary-light);
  font-size: 0.8em;
  float: right;
  margin-bottom: 0.5em;
  margin-right: 1em;
  padding: 0.25em;
  text-decoration: none;
}
.matchDetails{
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
.resultContainer {
  align-content: center;
  display: flex;
  padding: 0.5em;
}
.score {
  display: block;
  margin: auto 0;
  text-align: center;
  width: 20%;
}
.team {
  font-weight: bold;
  margin: auto 0;
}
.teamLogo {
  height: 60px;
  width: 60px;
}
