p {
  margin-bottom: 0;
}
.awayTeam {
  font-weight: bold;
  
  margin: auto;
  text-align: right;
}
.homeTeam {
  font-weight: bold;
  margin: auto;
  text-align: left;
}
.matchDetails{
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
.resultContainer {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.score {
  margin: auto;
  text-align: center;
}
.teamContainer {
  display: flex;
  justify-content: center;
}
.teamLogo {
  height: 60px;
  width: 60px;
}
