img.flagIcon {
  height: 20px;
  width: 30px;
}
.socialGroup {
  padding: 0.5em;
  position: absolute;
  right: 1em;
}
.socialGroup a {
  color: white;
  padding-right: 1em;
}

@media screen and (max-width: 575px) {
  .socialGroup {
    position: unset;
    right: 0;
  }
}
