.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	overflow: hidden;
}
.videoWrapper iframe {
	position: absolute;
  border: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
